


.navbar{

/* background-color: aqua; */
text-align: center;
width: 100%;
position: fixed;
z-index: 1;

}

.navbar.dark{

  background-color:rgb(41, 40, 40) ;
}
  .navbar-brand{
    color: white;
    width: auto;
    height: auto;
    /* margin-left: calc(50% - 80px); */
    margin-left: 2vw;

    font-size: 2vw;

  }

  .dark-container{
  position: absolute;
  right: 2vw;
  /* top: 7vw; */
  border: 2px solid black;
  border-radius: 15px;
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ccc;
  padding: 3px;
  transition: background-color 0.3s;
}

.dark-container-button{
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: margin-left 0.3s;
}


.dark-container.dark{

    border: 2px solid white;
    background-color: #121212;
}

.dark-container-button.dark{
  margin-left: calc(100% - 10px); /* adjusted for padding */
    background-color: white;
}

  /* .container-fluid{

    
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */